/* Fix admin menu going behind site nav */
.gin--horizontal-toolbar #toolbar-administration {
  @media (min-width: 976px) {
    z-index: 503 !important;
  }
}

.eu-cookie-withdraw-tab {
  left: 75%;
}

.ajax-progress-fullscreen {
  border-width: 0px;
  background-color: transparent;
  box-shadow: none;
}

.path-sitemap .login {
  display: none;
}
