/* Singular HTML elements without classes */
@import 'content.pcss';
@import 'form.pcss';
@import 'inline.pcss';
@import 'root.pcss';
@import 'sectioning.pcss';
@import 'table.pcss';
@import 'typography.pcss';
