blockquote {
}
dd {
}
div {
}
dl {
}
dt {
}
figcaption {
}
figure {
}
hr {
}
li {
}
menu {
}
ol {
}
p {
}
pre {
  margin-top: var(--v-spacer);
  white-space: pre-wrap;

  code:not([class*='language-']) {
    display: block;
    padding: 1.25em 1.5em;
  }
}
ul {
}
