html {
}

body {
  color: var(--black);
  font-family: var(--ff__sans);
  line-height: var(--lh__loose);
  min-height: 100vh;
  scroll-behavior: smooth;
  scroll-padding-top: 74px; /* Fixed header height plus a little more */
  text-rendering: optimizeSpeed;
  background: none;
  text-rendering: optimizeLegibility;
}
